/* Resets */
li {
    list-style-type: none;
}
* {
    font-family: "DM Sans";
    margin: 0; 
}
body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(250, 249, 249);
}
a {
    text-decoration: none;
    color: inherit;
}
a:visited {
    color: inherit;
  }
a:hover {
    color: #F1B03D;
}


/* Styles - Desktop */

.container {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1E7885;
    color: #F8F0DE;
    min-height: 40px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(./img/triangle.png) no-repeat #F8F0DE;
    background-position:75% 50%;
    background-size: 450px;
    min-height: 500px;
    justify-self: center;
}
h1 {
    font-family: "Yeseva One";
/*     font-family: "DM Serif Display"; */
    font-size: 75px;
    text-align: center;
    line-height: 80%;
}
.tagline {
    font-family: "DM Sans";
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    padding-bottom: 35px;
}
.hero h3 {
    text-align: center;
}

h2 {
    font-family: "DM Serif Display";
    font-size: 40px;
    font-weight: lighter;
}

.services {
    background-color: #1E7885;
    color: #F8F0DE;
    padding: 50px;
}
.services hr {
    margin-right: auto;
    width: 70%;
    min-width: 400px;
}
.services-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.services > div {
    padding: 50px 50px 0 50px;

}
.services p {
    font-size: 24px;
    padding: 10px 0;
}
.services img {
    max-width: 360px;
}
.service-title {
    text-align: center;
}

.resume {
    display: flex;
    background-color: #F8F0DE;
    gap: 40px;
    flex-wrap: wrap;
}
.resume h2 {
    padding: 20px 0;
}
.background {
    padding: 50px;
    flex: 3;
}
.expertise {
    padding: 50px;
    flex: 1;
}
.resume img {
    max-width: 30%;
    margin-top: 130px;
    padding: 0;
    flex: 2;
    flex-shrink: 1;
    opacity: 0.5;
}

.aboutme {
    background-color: #1E7885; 
    color: #F8F0DE;   
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 40px;
    padding: 50px;
}
.aboutme p {
    padding: 10px 30px 10px 0;
}
.aboutme h3 {
    padding-bottom: 10px;
}
.about-one {
    grid-row: span 2;
    border-right: 1px solid #F8F0DE;
}
.aboutme img { 
    grid-row: span 2;
    justify-self: center;
    max-height: 350px;
}

.contact {
    background-color: #F8F0DE;
    padding: 50px;
}
.contact-content {
    display: flex;
}
.contact p {
    padding: 50px 80px;
    max-width: 400px;
}
.contact img {
    max-width: 500px;
    padding: 50px 0;
}

.footer {
    background-color: #1E7885; 
    color: #F8F0DE;  
    max-height: 60px;
    font-size: 12px;
    text-align: center;
}

/* Styles - Responsive */

@media screen and (max-width: 970px) {
    .resume img {
        display: none;
    }
    .contact img {
        max-width: 350px;
        padding: 50px 0;
    }
    
}
@media screen and (max-width: 820px) {
    .aboutme img { 
        max-height: 200px;
        grid-column: 3;
    }
    .about-one {
        grid-column: span 3;
        border-bottom: 1px solid #F8F0DE;
        border-right:none;
    }
    .about-three {
        grid-column-start: 2;
        grid-row-start: 3
    }
    .contact img {
        max-width: 300px;
        padding: 50px 0;
    }
    .contact p {
        padding: 50px 50px;
        max-width: 400px;
    }
}
@media screen and (max-width: 645px) {
    .background {
        padding: 50px 50px 0 50px;
        flex: 1;
    }
    .expertise {
        padding: 0 50px 50px 50px;
        flex: 1;
    }
    .aboutme img { 
        display: none;
    }
    .about-two {
        grid-column: span 2;
    }
    .about-three {
        grid-column: 3 / 4;
    }
    .contact-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contact img {
        max-width: 400px;
        padding: 20px 0 0 0;
    }

}
